	<div class="block-sidebar hidden-768">
		<div class="title-sidebar">
			Special offers
		</div>
		<div class="block-special-offers">
			<ul>
				<li>
					<a href="page_product_2.html">
						<div class="spec-offers-img">
							<img src="{{products.[0].images.[0].small}}" alt="">
						</div>
						<div class="spec-offers-content">
							<div class="spec-offers-title" title="{{products.[0].name}}">{{products.[0].name}}</div>
							<div class="spec-offers-cost" title="$167.50">$1255.50</div>
						</div>
					</a>
				</li>
				<li>
					<a href="page_product_2.html">
						<div class="spec-offers-img">
							<img src="{{products.[1].images.[0].small}}" alt="">
						</div>
						<div class="spec-offers-content">
							<div class="spec-offers-title" title="{{products.[1].name}}">{{products.[1].name}}</div>
							<div class="spec-offers-cost" title="$167.50">$1255.50</div>
						</div>
					</a>
				</li>
				<li>
					<a href="page_product_2.html">
						<div class="spec-offers-img">
							<img src="{{products.[2].images.[0].small}}" alt="">
						</div>
						<div class="spec-offers-content">
							<div class="spec-offers-title" title="{{products.[2].name}}">{{products.[2].name}}</div>
							<div class="spec-offers-cost" title="$167.50">$8936.50</div>
						</div>
					</a>
				</li>
				<li>
					<a href="page_product_2.html">
						<div class="spec-offers-img">
							<img src="{{products.[3].images.[0].small}}" alt="">
						</div>
						<div class="spec-offers-content">
							<div class="spec-offers-title" title="{{products.[3].name}}">{{products.[3].name}}</div>
							<div class="spec-offers-cost" title="$167.50">$167.50</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>