<!-- Main Products for Modile Start -->
<div class="main-product">  
  <div class="block-title-product-mob">
    <div class="back-link-mob"><a href="product_accessories.html"><i class="fa fa-angle-left" aria-hidden="true"></i>Back</a></div>
    <div class="title">{{products.[2].name}}</div>
  </div>
  <!-- Slider Mobile Start -->
  <div id="slider-product-mob" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <img src="{{products.[0].images.[0].medium}}" alt="">
      </div>
      <div class="item">
        <img src="{{products.[0].images.[1].medium}}" alt="">  
      </div>
    </div>

    <!-- Controls Slider Start-->
    <a class="left carousel-control" href="#slider-product-mob" role="button" data-slide="prev">
     <i class="fa fa-angle-left" aria-hidden="true"></i>

   </a>
   <a class="right carousel-control" href="#slider-product-mob" role="button" data-slide="next">
     <i class="fa fa-angle-right" aria-hidden="true"></i>

   </a>
   <!-- Controls Slider End-->
 </div>
 <!-- Slider Mobile End -->
 <form class="block-price-mob">
  <span class="price-strike">{{products.[2].sale}}</span>  
  <span class="price-normal">{{products.[2].price}}</span>
  <a href="page_cart-step-one.html" class="add-cart-mob button-small">Add to cart </a>
</form>
</div>
<!-- Main Products for Modile End -->

<!-- Main Products for Desktop Start -->
<div class="main-product hidden-768">  
  <div class="box-1675">
    <!-- Bread Сrumbs Start -->
    <div class="main-bread">
      <div class="container-fluid">
        <div class="row">
          <div class="block-bread">
            <span><a href="index.html">Back</a></span>
            <span><i class="fa fa-angle-right" aria-hidden="true"></i><a href="product_accessories.html">{{menu.[0].title}}</a></span>
            <span><i class="fa fa-angle-right" aria-hidden="true"></i>{{products.[2].name}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Bread Сrumbs End -->
      <div class="row">
        <div class="col-md-6 col-sm-5 col-xs-12">   
          <div class="block-cart-product">
            <div class="block-img-product" id="block-img-product">
              <div class="full-img-product" id="full-img-product">
                <img src="{{products.[0].images.[0].full}}" alt="">
              </div>
              <div class="box-preview-img-product">
                <div class="preview-img-mini-product preview-product-active" data-full-img="{{products.[0].images.[0].full}}">
                  <img src="{{products.[0].images.[0].small}}" alt="">
                </div>
                <div class="preview-img-mini-product" data-full-img="{{products.[0].images.[1].full}}">
                  <img src="{{products.[0].images.[1].small}}" alt="">
                </div>
                <div class="soc-wrap">  
                  <a target="_blank" href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                  <a target="_blank" href="https://plus.google.com/u/0/104841685075716062830"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                  <a target="_blank" href="https://twitter.com/WebarkSystems"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a target="_blank" href="https://www.facebook.com/WebArk-346789308995961"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a target="_blank" href="https://www.instagram.com/webarksystem/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-7 col-xs-12">
         <div class="block-decr-product">
           <div class="title">{{products.[2].name}}</div>
            <div class="undertitle">
              <div class="brand-name">{{products.[2].manufacturer}}</div>
              <div class="wrap-info-product">
               <span class="shlist-info-product"><a href="page_wish-list.html"><i class="fa fa-heart" aria-hidden="true"></i>
                Wishlist (<span>10</span>)</a></span>
                <span class="compare-info-product"><a href="page_compare.html"><i class="fa fa-exchange" aria-hidden="true"></i>
                  Compare (<span>3</span>)</a></span>
                </div>
              </div>
              <div id="context-desdr" class="description">


               <p>Lorem ipsum dolor sit amet, quod wisi liber cu ius. Ut augue timeam usu, id nec vero maiestatis efficiendi, est primis neglegentur an. At eam diam nibh labitur. Cum et meliore fierent consequat, eum dicit debitis inimicus an. Lorem ipsum dolor sit amet, quod wisi liber cu ius. Ut augue timeam usu, id nec vero maiestatis efficiendi, est primis neglegentur an. At eam diam nibh labitur Lorem ipsum dolor sit amet, quod wisi liber cu ius. t meliore fierent consequat, eum dicit debitis inimicus an. Lorem ipsum dolor sit amet, quod wisi liber cu ius. Ut augue timeam usu, id nec vero maiestatis efficiendi, est primis neglegentur an cu ius. </p>

               <p>Lorem ipsum dolor sit amet, quod wisi liber cu ius. Ut augue timeam usu, id nec vero maiestatis efficiendi, est primis neglegentur an. At eam diam nibh labitur. Cum et meliore fierent consequat, eum dicit debitis inimicus an. Lorem ipsum dolor sit amet, quod wisi liber cu ius. Ut augue timeam usu, id nec vero maiestatis efficiendi, est primis neglegentur an. At eam diam nibh labitur Lorem ipsum dolor sit amet, quod wisi liber cu ius. t meliore fierent consequat, eum dicit debitis inimicus an. Lorem ipsum dolor sit amet, quod wisi liber cu ius. Ut augue timeam usu, id nec vero maiestatis efficiendi, est primis neglegentur an cu ius. 
               </p>
             </div>
             <form class="wrap-cost" action="/">
               <div class="box-price">
                 <div class="wrap-price">
                   <span class="price-strike">{{products.[2].sale}}</span>  
                   <span class="price-normal">{{products.[2].price}}</span>
                 </div>
                 <div class="box-counter"> 
                  <input id="spinner" name="value" value="1" readonly>
                </div>
              </div>
              <div class="box-add-cart-product">
              <a href="page_cart-step-one.html" class="add-cart-product button-lardge">Add to cart </a>
              </div>
            </form>
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="related-products">
          <div class="title">Related Products</div>
          <div class="owl-carousel owl-theme" id="owl-carousel">
            <div class="wrap-item">
              <form action="/" class="item">
                <a href="page_product_2.html">
                  <div class="image">
                    <img src="{{products.[0].images.[0].medium}}" alt="">
                  </div>
                  <div class="name-products">
                   {{products.[0].name}}
                  </div>
                  <div class="model-products">
                    {{products.[0].manufacturer}}
                  </div>
                </a>
                <div class="price-products">
                 <span class="now">{{products.[0].price}}</span>
               </div>
               <div class="box-hide-related">
               <a href="page_cart-step-one.html" class="btn-related button-small">add to cart</a>
                
                <div class="wrap-info-product">
                 <span class="shlist-info-product"><a href="page_wish-list.html"><i class="fa fa-heart" aria-hidden="true"></i>
                  Wishlist (<span>10</span>)</a></span>
                  <span class="compare-info-product"><a href="page_compare.html"><i class="fa fa-exchange" aria-hidden="true"></i>
                    Compare (<span>3</span>)</a></span>
                  </div>
                </div>
              </form>
            </div>
            <div class="wrap-item">
             <form action="/" class="item">
               <a href="page_product_2.html">
                 <div class="image">
                   <img src="{{products.[1].images.[0].medium}}" alt=""></div>
                   <div class="name-products">
                    {{products.[1].name}}
                   </div>
                   <div class="model-products">
                     {{products.[1].manufacturer}}
                  </div>
                </a>
                <div class="price-products">
                  <span class="now">$699</span>
                </div>
                <div class="box-hide-related">
                  <a href="page_cart-step-one.html" class="btn-related button-small">add to cart</a>
                  <div class="wrap-info-product">
                   <span class="shlist-info-product"><a href="page_wish-list.html"><i class="fa fa-heart" aria-hidden="true"></i>
                    Wishlist (<span>10</span>)</a></span>
                    <span class="compare-info-product"><a href="page_compare.html"><i class="fa fa-exchange" aria-hidden="true"></i>
                      Compare (<span>3</span>)</a></span>
                    </div>
                  </div>
                </form>
              </div>
              <div class="wrap-item">
               <form action="/" class="item">
                 <a href="page_product_2.html">
                   <div class="image">
                     <img src="{{products.[2].images.[0].medium}}" alt=""></div>
                     <div class="name-products">
                     {{products.[2].name}}
                    </div>
                    <div class="model-products">
                      {{products.[2].manufacturer}}
                    </div>
                  </a>
                  <div class="price-products">
                    <span class="old">{{products.[2].sale}}</span><span class="now">{{products.[2].price}}</span>
                  </div>
                  <div class="box-hide-related">
                     <a href="page_cart-step-one.html" class="btn-related button-small">add to cart</a>
                    <div class="wrap-info-product">
                     <span class="shlist-info-product"><a href="page_wish-list.html"><i class="fa fa-heart" aria-hidden="true"></i>
                      Wishlist (<span>10</span>)</a></span>
                      <span class="compare-info-product"><a href="page_compare.html"><i class="fa fa-exchange" aria-hidden="true"></i>
                        Compare (<span>3</span>)</a></span>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="wrap-item">
                  <form action="/" class="item">
                    <a href="page_product_2.html">
                      <div class="image">
                        <img src="{{products.[3].images.[0].medium}}" alt=""></div>
                        <div class="name-products">
                         {{products.[3].name}}
                        </div>
                        <div class="model-products">
                          {{products.[3].manufacturer}}
                        </div>
                      </a>
                      <div class="price-products">
                       <span class="now">{{products.[3].price}}</span>
                     </div>
                     <div class="box-hide-related">
                      <a href="page_cart-step-one.html" class="btn-related button-small">add to cart</a>
                      <div class="wrap-info-product">
                       <span class="shlist-info-product"><a href="page_wish-list.html"><i class="fa fa-heart" aria-hidden="true"></i>
                        Wishlist (<span>10</span>)</a></span>
                        <span class="compare-info-product"><a href="page_compare.html"><i class="fa fa-exchange" aria-hidden="true"></i>
                          Compare (<span>3</span>)</a></span>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="wrap-item">
                   <form action="/" class="item">
                     <a href="page_product_2.html">
                       <div class="image">
                         <img src="{{products.[0].images.[0].medium}}" alt=""></div>
                         <div class="name-products">
                          {{products.[0].name}}
                         </div>
                         <div class="model-products">
                           {{products.[0].manufacturer}}
                        </div>
                      </a>
                      <div class="price-products">
                        <span class="now">{{products.[0].price}}</span>
                      </div>
                      <div class="box-hide-related">
                         <a href="page_cart-step-one.html" class="btn-related button-small">add to cart</a>
                        <div class="wrap-info-product">
                         <span class="shlist-info-product"><a href="page_wish-list.html"><i class="fa fa-heart" aria-hidden="true"></i>
                          Wishlist (<span>10</span>)</a></span>
                          <span class="compare-info-product"><a href="page_compare.html"><i class="fa fa-exchange" aria-hidden="true"></i>
                            Compare (<span>3</span>)</a></span>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="wrap-item">
                     <form action="/" class="item">
                       <a href="page_product_2.html">
                         <div class="image">
                           <img src="{{products.[1].images.[0].medium}}" alt=""></div>
                           <div class="name-products">
                           {{products.[1].name}}
                          </div>
                          <div class="model-products">
                             {{products.[1].manufacturer}}
                          </div>
                        </a>
                        <div class="price-products">
                          <span class="old">{{products.[1].sale}}</span><span class="now">{{products.[1].price}}</span>
                        </div>
                        <div class="box-hide-related">
                           <a href="page_cart-step-one.html" class="btn-related button-small">add to cart</a>
                          <div class="wrap-info-product">
                           <span class="shlist-info-product"><a href="page_wish-list.html"><i class="fa fa-heart" aria-hidden="true"></i>
                            Wishlist (<span>10</span>)</a></span>
                            <span class="compare-info-product"><a href="page_compare.html"><i class="fa fa-exchange" aria-hidden="true"></i>
                              Compare (<span>3</span>)</a></span>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="wrap-item">
                        <form action="/" class="item">
                          <a href="page_product_2.html">
                            <div class="image">
                              <img src="{{products.[2].images.[0].medium}}" alt=""></div>
                              <div class="name-products">
                               {{products.[2].name}}
                              </div>
                              <div class="model-products">
                                 {{products.[2].manufacturer}}
                              </div>
                            </a>
                            <div class="price-products">
                             <span class="now">{{products.[2].price}}</span>
                           </div>
                           <div class="box-hide-related">
                            <a href="page_cart-step-one.html" class="btn-related button-small">add to cart</a>
                            <div class="wrap-info-product">
                             <span class="shlist-info-product"><a href="page_wish-list.html"><i class="fa fa-heart" aria-hidden="true"></i>
                              Wishlist (<span>10</span>)</a></span>
                              <span class="compare-info-product"><a href="page_compare.html"><i class="fa fa-exchange" aria-hidden="true"></i>
                                Compare (<span>3</span>)</a></span>
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="wrap-item">
                         <form action="/" class="item">
                           <a href="page_product_2.html">
                             <div class="image">
                               <img src="{{products.[3].images.[0].medium}}" alt=""></div>
                               <div class="name-products">
                                {{products.[3].name}}
                               </div>
                               <div class="model-products">
                                 {{products.[3].manufacturer}}
                              </div>
                            </a>
                            <div class="price-products">
                              <span class="now">{{products.[3].price}}</span>
                            </div>
                            <div class="box-hide-related">
                               <a href="page_cart-step-one.html" class="btn-related button-small">add to cart</a>
                              <div class="wrap-info-product">
                               <span class="shlist-info-product"><a href="page_wish-list.html"><i class="fa fa-heart" aria-hidden="true"></i>
                                Wishlist (<span>10</span>)</a></span>
                                <span class="compare-info-product"><a href="page_compare.html"><i class="fa fa-exchange" aria-hidden="true"></i>
                                  Compare (<span>3</span>)</a></span>
                                </div>
                              </div>
                            </form>
                          </div>
                          <div class="wrap-item">
                           <form action="/" class="item">
                             <a href="page_product_2.html">
                               <div class="image">
                                 <img src="{{products.[0].images.[0].medium}}" alt=""></div>
                                 <div class="name-products">
                                 {{products.[0].name}}
                                </div>
                                <div class="model-products">
                                  {{products.[0].manufacturer}}
                                </div>
                              </a>
                              <div class="price-products">
                                <span class="old">{{products.[0].sale}}</span><span class="now">{{products.[0].price}}</span>
                              </div>
                              <div class="box-hide-related">
                                <a href="page_cart-step-one.html" class="btn-related button-small">add to cart</a>
                                <div class="wrap-info-product">
                                 <span class="shlist-info-product"><a href="page_wish-list.html"><i class="fa fa-heart" aria-hidden="true"></i>
                                  Wishlist (<span>10</span>)</a></span>
                                  <span class="compare-info-product"><a href="page_compare.html"><i class="fa fa-exchange" aria-hidden="true"></i>
                                    Compare (<span>3</span>)</a></span>
                                  </div>
                                </div>
                              </form></div>
                              <div class="wrap-item"><form action="/" class="item">
                                <div class="image">
                                  <img src="{{products.[1].images.[0].medium}}" alt=""></div>
                                  <div class="name-products">
                                   {{products.[1].name}}
                                  </div>
                                  <div class="model-products">
                                     {{products.[1].manufacturer}}
                                  </div>
                                  <div class="price-products">
                                   <span class="now">{{products.[1].price}}</span>
                                 </div>
                                 <div class="box-hide-related">
                                  <a href="page_cart-step-one.html" class="btn-related button-small">add to cart</a>
                                  <div class="wrap-info-product">
                                   <span class="shlist-info-product"><a href="page_wish-list.html"><i class="fa fa-heart" aria-hidden="true"></i>
                                    Wishlist (<span>10</span>)</a></span>
                                    <span class="compare-info-product"><a href="page_compare.html"><i class="fa fa-exchange" aria-hidden="true"></i>
                                      Compare (<span>3</span>)</a></span>
                                    </div>
                                  </div>
                                </form></div>
                                <div class="wrap-item"><form action="/" class="item">
                                 <div class="image">
                                   <img src="{{products.[2].images.[0].medium}}" alt=""></div>
                                   <div class="name-products">
                                    {{products.[2].name}}
                                   </div>
                                   <div class="model-products">
                                     {{products.[2].manufacturer}}
                                  </div>
                                  <div class="price-products">
                                    <span class="now">{{products.[2].price}}</span>
                                  </div>
                                  <div class="box-hide-related">
                                    <a href="page_cart-step-one.html" class="btn-related button-small">add to cart</a>
                                    <div class="wrap-info-product">
                                     <span class="shlist-info-product"><a href="page_wish-list.html"><i class="fa fa-heart" aria-hidden="true"></i>
                                      Wishlist (<span>10</span>)</a></span>
                                      <span class="compare-info-product"><a href="page_compare.html"><i class="fa fa-exchange" aria-hidden="true"></i>
                                        Compare (<span>3</span>)</a></span>
                                      </div>
                                    </div>
                                  </form></div>
                                  <div class="wrap-item"><form action="/" class="item">
                                   <div class="image">
                                     <img src="{{products.[3].images.[0].medium}}" alt=""></div>
                                     <div class="name-products">
                                      {{products.[3].name}}
                                    </div>
                                    <div class="model-products">
                                       {{products.[3].manufacturer}}
                                    </div>
                                    <div class="price-products">
                                      <span class="old">{{products.[3].sale}}</span><span class="now">{{products.[3].price}}</span>
                                    </div>
                                    <div class="box-hide-related">
                                       <a href="page_cart-step-one.html" class="btn-related button-small">add to cart</a>
                                      <div class="wrap-info-product">
                                       <span class="shlist-info-product"><a href="page_wish-list.html"><i class="fa fa-heart" aria-hidden="true"></i>
                                        Wishlist (<span>10</span>)</a></span>
                                        <span class="compare-info-product"><a href="page_compare.html"><i class="fa fa-exchange" aria-hidden="true"></i>
                                          Compare (<span>3</span>)</a></span>
                                        </div>
                                      </div>
                                    </form></div>
                                  </div>
                                </div>
                              </div>
                              <div id="tabs_cart_product">
                                <ul>
                                  <li><a href="#tabs-1">Description</a></li>
                                  <li><a href="#tabs-2">Additional Information</a></li>
                                  <li><a href="#tabs-3">Reviews (<span>4</span>)</a></li>
                                </ul>
                                <div id="tabs-1">
                                  <p>Lorem ipsum dolor sit amet, quod wisi liber cu ius. Ut augue timeam usu, id nec vero maiestatis efficiendi, est primis neglegentur an. At eam diam nibh labitur. Cum et meliore fierent consequat, eum dicit debitis inimicus an. Idque nonumy timeam te vel, ad eos dolore maiorum feugait. Vix cu nostrud atomorum referrentur.</p>
                                  <p>Ei posse dicant adolescens ius, error argumentum disputationi sit et, pri soluta menandri ei. Vis eu dicta integre probatus. Pro omnis quaestio definitionem ne, nam suas partem percipitur eu, id quo alia eligendi. Ne vivendum suavitate consequat pro, ad etiam fabulas imperdiet mei, error copiosae at usu. Pri vocibus recusabo eu. Simul alterum ullamcorper ne eos, audiam inciderint ei cum. Facilisis maluisset duo ea, similique cotidieque id pri, et eum esse mutat invidunt.</p>
                                  <p>Pri ad recteque patrioque, tibique phaedrum duo ut. Vix id voluptua fabellas platonem, cu nec summo theophrastus. Cu esse eius dignissim qui. Insolens convenire deseruisse ei est, sea ne delenit apeirian expetenda. His eu minim signiferumque, delenit vituperata quo cu. Alia veniam ad vis, option epicurei cu mel. Esse vero an nam, no sint choro facilis sit.</p>
                                </div>
                                <div id="tabs-2">
                                 <table>
                                   <tr>
                                    <td>Hard Disk</td>
                                    <td>Built-in</td>
                                  </tr>
                                  <tr>
                                    <td>Video</td>
                                    <td>BD6xCAV DVD 8xCAV</td>
                                  </tr>
                                  <tr>
                                    <td>Sound</td>
                                    <td>Stereo</td>
                                  </tr>
                                </table>
                              </div>
                              <div id="tabs-3">
                               <div class="title">4 Reviews for Beats studio</div>
                               <div class="wrap-comment">
                                 <div class="image-auther">
                                   <img src="img/img-products/auther-img1.jpg" alt="">
                                 </div>
                                 <div class="info-auther">
                                  <div class="top">
                                   <div class="name">Mark smith</div>
                                   <div class="date">September 22, 2015</div>
                                 </div>
                                 <div class="text-auther">
                                   <p>He is damn right, the first wave of customers just buy the product with no questions asked…the stupidity or the shear wastage of money they want to do, no idea. But wait till winter sale comes.</p>
                                 </div>
                               </div>
                             </div>
                             <div class="wrap-comment">
                               <div class="image-auther">
                                 <img src="img/img-products/auther-img2.jpg" alt="">
                               </div>
                               <div class="info-auther">
                                <div class="top">
                                 <div class="name">Sandra ashley</div>
                                 <div class="date">March 16, 2015</div>
                               </div>
                               <div class="text-auther">
                                 <p>The stupidity or the shear wastage of money they want to do, no idea. But wait till winter sale comes. He is damn right, the first wave of customers just buy the product with no questions asked. He is damn right, the first wave of customers just buy the product with no questions asked.
                                 </p>
                               </div>
                             </div>
                           </div>
                           <div class="wrap-comment">
                             <div class="image-auther">
                               <img src="img/img-products/auther-img3.jpg" alt="">
                             </div>
                             <div class="info-auther">
                              <div class="top">
                               <div class="name">Tom H.</div>
                               <div class="date">March 16, 2015</div>
                             </div>
                             <div class="text-auther">
                               <p>The stupidity or the shear wastage of money they want to do, no idea. But wait till winter sale comes. He is damn right, the first wave of customers just buy the product with no questions asked. He is damn right, the first wave of customers just buy the product with no questions asked.</p>
                             </div>
                           </div>
                         </div>
                         <div class="block-review">
                           <div class="title">Add a review</div>
                           <form action="/" class="form-review">
                             <input type="text" class="name" placeholder="NAME">
                             <input type="text" class="email" placeholder="EMAIL">
                             <textarea cols="30" rows="10" class="text-comment" placeholder="COMMENT"></textarea>
                             <input type="submit" class="btn-review" value="Add comment">
                           </form>
                         </div>
                       </div>
                    

                   </div>
                 </div>
               </div>
               <!-- Main Products for Desktop End -->

               <!-- Accordion Products for Mobile Start -->
               <div id="accordion_cart_product_mob">
                <h3>Description <i class="fa fa-angle-down" aria-hidden="true"></i>
                </h3>
                <div class="item text-description">
                  <p>Orem ipsum dolor sit amet, quod wisi liber cu ius. Ut augue timeam usu, id nec vero maiestatis efficiendi, est primis neglegentur an.</p>
                  <p>At eam diam nibh labitur. Cum et meliore fierent consequat, eum dicit debitis inimicus an. Idque nonumy timeam te vel, ad eos dolore maiorum feugait. Vix cu nostrud atomorum referrentur.</p>
                  <p>Ei posse dicant adolescens ius, error argumentum disputationi sit et, pri soluta menandri ei.</p>
                </div>
                <h3>Additional Information<i class="fa fa-angle-down" aria-hidden="true"></i></h3>
                <div class="item">
                 <table>
                   <tr>
                    <td>Hard Disk</td>
                    <td>Built-in</td>
                  </tr>
                  <tr>
                    <td>Video</td>
                    <td>BD6xCAV DVD 8xCAV</td>
                  </tr>
                  <tr>
                    <td>Sound</td>
                    <td>Stereo</td>
                  </tr>
                </table>
                </div>
              
              <h3>Reviews (<span>4</span>)<i class="fa fa-angle-down" aria-hidden="true"></i></h3>
              <div class="reviews">
               <div class="wrap-comment">
                 <div class="image-auther hidden-768">
                   <img src="img/img-products/auther-img1.jpg" alt="">
                 </div>
                 <div class="info-auther">
                  <div class="top">
                   <div class="name">Mark smith</div>
                   <div class="date hidden-768">September 22, 2015</div>
                 </div>
                 <div class="text-auther">
                   <p>He is damn right, the first wave of customers just buy the product with no questions asked…the stupidity or the shear wastage of money they want to do, no idea. But wait till winter sale comes.</p>
                   <div class="date-xs visible-xs">September 22, 2015</div>
                 </div>

               </div>
             </div>
             <div class="wrap-comment">
               <div class="image-auther hidden-768">
                 <img src="img/img-products/auther-img2.jpg" alt="">
               </div>
               <div class="info-auther">
                <div class="top">
                 <div class="name">Sandra ashley</div>
                 <div class="date hidden-768">March 16, 2015</div>
               </div>
               <div class="text-auther">
                 <p>The stupidity or the shear wastage of money they want to do, no idea. But wait till winter sale comes. He is damn right, the first wave of customers just buy the product with no questions asked. He is damn right, the first wave of customers just buy the product with no questions asked.</p>
                 <div class="date-xs visible-xs">March 16, 2015</div>
               </div>
             </div>
           </div>
           <div class="wrap-comment">
             <div class="image-auther hidden-768">
               <img src="img/img-products/auther-img3.jpg" alt="">
             </div>
             <div class="info-auther">
              <div class="top">
               <div class="name">Tom H.</div>
               <div class="date hidden-768">March 16, 2015</div>
             </div>
             <div class="text-auther">
               <p>The stupidity or the shear wastage of money they want to do, no idea. But wait till winter sale comes. He is damn right, the first wave of customers just buy the product with no questions asked. He is damn right, the first wave of customers just buy the product with no questions asked.</p>
               <div class="date-xs visible-xs">March 16, 2015</div>
             </div>
           </div>
         </div>
         <div class="block-review">
           <div class="title">Add a review</div>
           <form action="/" class="form-review">
             <input type="text" class="name" placeholder="NAME">
             <input type="text" class="email" placeholder="EMAIL">
             <textarea cols="30" rows="10" class="text-comment" placeholder="COMMENT"></textarea>
             <input type="submit" class="btn-review button-small" value="Add comment">
           </form>
         </div>
       </div>
     </div>
    
<!-- Accordion Products for Mobile Start -->