<div id="main-content"> <!-- Page Main Content Start-->
  <div class="main-compare">
    <div class="box-1675 hidden-xs">
      <div class="container-fluid">
        <div class="row">
          <div class="main-bread"> <!-- Bread Сrumbs Start -->
            <div class="container-fluid">
              <div class="row">
                <div class="block-bread">
                  <span><a href="index.html">Home</a></span>
                  <span><i class="fa fa-angle-right" aria-hidden="true"></i>Compare</span>
                </div>
              </div>
            </div>
          </div><!-- Bread Сrumbs End -->
        </div>
      </div>
    </div>
    <section class="compare-list">
     <div class="box-1675">
      <div class="container-fluid">
        <div class="row">
          <div class="title-compare">
           <h1>Compare</h1>
         </div> 
         <div class="account-content compare">
          <table id="table-compare" class="table">
            <tbody>
              <tr>
                <td class="title">Lot</td>
                <td>
                  <div class="close-com" id="js-close-one"></div>
                  <div class="preview-img-mini-compare">
                    <a href="page_product_2.html"><img src="{{products.[0].images.[0].medium}}" alt=""></a>
                  </div>
                  <a class="compare-link" href="page_product_2.html">{{products.[0].name}}</a>
                </td>
                <td>
                  <div class="close-com" id="js-close-two"></div>
                  <div class="preview-img-mini-compare">
                    <a href="page_product_2.html"><img src="{{products.[1].images.[0].medium}}" alt=""></a>
                  </div>
                  <a class="compare-link" href="page_product_2.html">{{products.[1].name}}</a>
                </td>
                <td>
                  <div class="close-com" id="js-close-three"></div>
                  <div class="preview-img-mini-compare">
                    <a href="page_product_2.html"><img src="{{products.[2].images.[0].medium}}" alt=""></a>
                  </div>
                  <a class="compare-link" href="page_product_2.html">{{products.[2].name}}</a>
                </td>
              </tr>
              <tr>
                <td class="title">description</td>
                <td><p>Lorem ipsum dolor sit amet, quod wisit eam diam nibh labiturs neglegentur an liber cu ius. Ut augue timeam usu, id nec vero maiestatis efficiendi, neglegentur an. At eam diam nibh labiturs neglegentur an. At eam diam nibh labitur...  <a href="page_product_2.html">More</a></p></td>
                <td><p>Lorem ipsum dolor sit amet, quod wisit eam diam nibh labiturs neglegentur an liber cu ius. Ut augue timeam usu, id nec vero maiestatis efficiendi, neglegentur an. At eam diam nibh labiturs neglegentur an. At eam diam nibh labitur...  <a href="page_product_2.html">More</a></p></td>
                <td><p>Lorem ipsum dolor sit amet, quod wisit eam diam nibh labiturs neglegentur an liber cu ius. Ut augue timeam usu, id nec vero maiestatis efficiendi, neglegentur an. At eam diam nibh labiturs neglegentur an. At eam diam nibh labitur...  <a href="page_product_2.html">More</a></p></td>
              </tr>
              <tr class="type">
                <td class="title">type</td>
                 <td>{{products.[0].type}}</td>
                 <td>{{products.[1].type}}</td>
                <td>{{products.[2].type}}</td>
               
               
              </tr>
              <tr class="manufacturer">
                <td class="title">manufacturer</td>
                <td>{{products.[0].manufacturer}}</td>
                <td>{{products.[1].manufacturer}}</td>
                 <td>{{products.[2].manufacturer}}</td>
                
              </tr>
              <tr class="buy">
                <td class="title">Price</td>
                <td>{{products.[0].price}}</td>
                <td>{{products.[1].price}}</td>
                <td>{{products.[2].price}}</td>
              </tr>
              <tr>
                <td class="title">Buy</td>

                <td><a  href="page_cart-step-one.html" class="add-cart button-small">Add to Cart</a></td>
                <td><a  href="page_cart-step-one.html" class="add-cart button-small">Add to Cart</a></td>
                <td><a  href="page_cart-step-one.html" class="add-cart button-small">Add to Cart</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
</div>