---
layout: empty.hbs
---

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8">

  <title>eCom</title>
  <meta name="description" content="">

  <link rel="shortcut icon" href="../../../../ecom/html/dest/{{color}}/img/favicon/{{color}}/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="48x48" href="../../../../ecom/html/dest/{{color}}/img/favicon/{{color}}/Ecom-favicon-purple-48-x-48">
  <link rel="apple-touch-icon" sizes="57x57" href="../../../../ecom/html/dest/{{color}}/img/favicon/{{color}}/Ecom-favicon-purple-57-x-57">
  <link rel="apple-touch-icon" sizes="72x72" href="../../../../ecom/html/dest/{{color}}/img/favicon/{{color}}/Ecom-favicon-purple-72-x-72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../../../../ecom/html/dest/{{color}}/img/favicon/{{color}}/Ecom-favicon-purple-114-x-114.png">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="libs/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="libs/animate/animate.css">
  <link rel="stylesheet" href="libs/bootstrap/css/bootstrap-dropdownhover.min.css">
  <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="libs/owl-carousel/assets/owl.carousel.css">
  <link rel="stylesheet" href="libs/waves/css/waves.css">

  <!-- <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="css/main.css"> -->

  <link rel="stylesheet" href="css/fonts.min.css">
  <link rel="stylesheet" href="css/main.min.css">

  <script src="libs/modernizr/modernizr.js"></script>
</head>
<body>
  <div class="main-openingsoon">
    <div class="title">
      <h1>
        Opening Soon
      </h1>
    </div>
    <div class="content">
      <p>Lorem ipsum dolor sit amet, per laoreet principes similique ut. Laudem soluta adversarium cu pro. 
        His ad viris latine, ut mel principes accommodare. Affert philosophia ea mei.</p>
      </div>
      <div class="container">
        <div id="countdown" class="ClassyCountdownDemo"></div>
      </div>
    </div>

  <!--[if lt IE 9]>
  <script src="libs/html5shiv/es5-shim.min.js"></script>
  <script src="libs/html5shiv/html5shiv.min.js"></script>
  <script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
  <script src="libs/respond/respond.min.js"></script>
  [endif]-->

  <script src="libs/jquery/jquery-3.1.1.min.js"></script>
  <script src="libs/jQueryCountdown/js/jquery.knob.js"></script>
  <script src="libs/jQueryCountdown/js/jquery.throttle.js"></script>
  <script src="libs/jQueryCountdown/js/jquery.classycountdown.js"></script>
  <script>
    $('#countdown').ClassyCountdown({
      theme: "black",

      end: $.now() + 100000
    });
  </script>
</body>
</html>
