
<div class="box-cart">
	<div class="box-1675">
		<div class="box-steps">
			<ul>
				<li><a class="active"  href="page_cart-step-one.html">Step 1</a></li>
				<li ><a href="page_cart-step-two.html">Step 2</a></li>
			</ul>
		</div>
		<div class="title">
			<h1>CART</h1>
		</div>
		<div class="main-blocks-cart hidden-768" id="main-blocks-cart">
			<div class="block-cart">
			<a href="page_product_2.html">
				<div class="cart-img"><img src="{{products.[0].images.[0].small}}" alt=""></div>
				<div class="cart-name-prodct"><span title="{{products.[0].name}}">{{products.[0].name}}</span></div>
				</a>
				<div class="cart-mark"><span title="{{products.[0].manufacturer}}">{{products.[0].manufacturer}}</span></div>
				<div class="cart-overall-price"><span title="{{products.[0].price}}">{{products.[0].price}}</span></div>
				<div class="box-counter-cart"><input class="spinner-cart" name="value" value="1" readonly></div>
				<div class="alone-price"><span title="$2511">$2511</span></div>

				<div class="delete-cart-product"></div>
			</div>
			<div class="block-cart">
			<a href="page_product_2.html">
				<div class="cart-img"><img src="{{products.[1].images.[0].small}}" alt=""></div>
				<div class="cart-name-prodct"><span title="{{products.[1].name}}">{{products.[1].name}}</span></div>
				</a>
				<div class="cart-mark"><span title="{{products.[1].manufacturer}}">{{products.[1].manufacturer}}</span></div>
				<div class="cart-overall-price"><span title="{{products.[1].price}}">{{products.[1].price}}</span></div>
				<div class="box-counter-cart"><input class="spinner-cart" name="value" value="1" readonly></div>
				<div class="alone-price"><span title="$2511">$2511</span></div>
				<div class="delete-cart-product"></div>
			</div>
			<div class="box-total-buy">
				<div class="block-right-cost">
					<div class="box-taxes"><p>Taxes:&nbsp;&nbsp;</p><span>$49</span></div>
					<div class="box-total"><p>Total:&nbsp;&nbsp;</p><span>$5458</span></div>
					<form action="page_cart-step-two.html" method="GET">
					<a href="page_cart-step-two.html" class="buy button-lardge">Buy</a>
					</form>
				</div>
				<div class="block-right-more">
				<form action="/" class="havecoupon">
				<p>Have a coupon?</p>
					<input type="text" class="input-havecoupon" placeholder="ENTER YOUR COUPON HERE">
					<i class="fa fa-check" aria-hidden="true"></i>

				</form>
					<a href="product_accessories.html" class="button-info-lardge"><i class="fa fa-angle-left" aria-hidden="true"></i>
Мore products</a>
				</div>
			</div>
		</div>
		

	</div>	
</div>
<div class="box-cart-mob">
<div class="box-1675">
	<div class="back-link-mob"><a href="index.html"><i class="fa fa-angle-left" aria-hidden="true"></i>
Back</a></div>
	<div class="main-blocks-cart-mob" id="main-blocks-cart-mob">
		<div class="block-cart">
			<a href="page_product_2.html">
				<div class="cart-img"><img src="{{products.[0].images.[0].small}}" alt=""></div>
				<div class="cart-name-prodct"><span title="{{products.[0].name}}">{{products.[0].name}}</span></div>
			</a>
			<div class="box-counter-cart"><input class="spinner-cart" name="value" value="1" readonly></div>
			<div class="cart-overall-price"><span title="{{products.[0].price}}">{{products.[0].price}}</span></div>
			<div class="delete-cart-product"></div>
		</div>
		<div class="block-cart">
		<a href="page_product_2.html">
			<div class="cart-img"><img src="{{products.[1].images.[0].small}}" alt=""></div>
			<div class="cart-name-prodct"><span title="{{products.[1].name}}">{{products.[1].name}}</span></div>
			</a>
			<div class="box-counter-cart"><input class="spinner-cart" name="value" value="1" readonly></div>
			<div class="cart-overall-price"><span title="{{products.[1].price}}">{{products.[1].price}}</span></div>
			<div class="delete-cart-product"></div>
		</div>
			<div class="box-total-buy">
				<div class="block-right-more">
				<form action="/" class="havecoupon">
				<p>Have a coupon?</p>
					<input type="text" class="input-havecoupon" placeholder="ENTER YOUR COUPON HERE">
					<i class="fa fa-check" aria-hidden="true"></i>

				</form>
					
				</div>
				<div class="block-right-cost">
					<div class="box-taxes"><p>Taxes:&nbsp;&nbsp;</p><span>$49</span></div>
					<div class="box-total"><p>Total:&nbsp;&nbsp;</p><span>$5458</span></div>
				</div>
			
			</div>
			<a href="page_cart-step-two.html" class="buy-mob button-lardge">Buy</a>
	</div>
</div>
</div>